<app-host-sidebar></app-host-sidebar>
<div>
    <h1 class="h1"><b class="title">Available slots for {{accommodation.name}}</b></h1>
</div>
<div class="flight-list-card">
    <div class="flight-card" *ngFor="let availability of allAvailability">
        <div class="flight-card--header">
        <div class="flight-card--header-details">
            <div class="details-passenger">
            <span class="detail--title">
                Available from
            </span>
            <span class="detail-text">
                {{availability.availableFrom | date}}
            </span>
            </div>
            <div class="details-depart">
             <span class="detail--title">
                Available to
            </span>
            <span class="detail--text">
                {{availability.availableTo | date}}
            </span>
           <!--
            <span class="detail--title">
                End date
            </span>
            <span class="detail--text">
                {{accommodation.endDate | date}}
            </span> -->
            </div>
        </div>
        </div>
        <div class="flight-card--details">
        <!-- <div class="bc-from">
            <span class="detail-name">
                Price in Euros
            </span>
           
            <div class="detail-city">
                {{availability.availableTo}} 
            </div>
            <div class="detail-city">
                {{availability.priceInEuros}}
            </div>
        </div> -->
        <!-- <div class="bc-plane">
            <img src="https://cdn.onlinewebfonts.com/svg/img_537856.svg" />
        </div> -->
        <!-- <div class="bc-to">
            <span class="detail-time">
                Min guests: {{accommodation.minGuests}}
            </span>
            <span class="detail-time">
                Max guests: {{accommodation.maxGuests}}
            </span>
            <span class="detail-city">
                Description: {{accommodation.description}}
            </span>
        </div>
        <div class="flight-card-details--text">-->
            <div class="text-left"> 
            <span class="text-hline">
                Price in Euros
            </span>
             <span class="text-actual">
                {{availability.priceInEuros}}e
            </span>
            <br>
            <span class="text-hline">
                Price Type
            </span>
            <br>
            <span class="detail-time">
                {{accommodation.priceType}}
            </span>
            </div>
            <div class="text-right"> 
            <span class="text-actual mint">
                <button class="book-button" (click)="editAvailability(availability.id)">Edit availability</button>
            </span>
            </div>
        <!-- </div>
            </div> -->
    </div>
</div>