<mat-toolbar color="primary" class="space">
  <span>Accommodation Booker</span>
  <div>
    <a mat-button [routerLink]="'/host'">Home</a>
    <a mat-button [routerLink]="'/profile-host'">Profile</a>
    <a mat-button [routerLink]="'/create-accommodation'"
      >Create accommodation</a
    >
    <a mat-button [routerLink]="'/search-accommodation'"
      >Search accommodation</a
    >
    <a mat-button [routerLink]="'/my-accommodations'">My accommodations</a>
    <a mat-raised-button (click)="logout()">Sign out</a>
  </div>
</mat-toolbar>
