<mat-toolbar color="primary" class="space">
  <span>Accommodation Booker</span>
  <div>
    <a mat-button [routerLink]="'/guest'">Home</a>
    <a mat-button [routerLink]="'/profile-guest'">Profile</a>
    <a mat-button [routerLink]="'/guest-search-accommodation'">Search accommodation</a>
    <a mat-button [routerLink]="'/guests-reservations'">My reservations</a>
    <a mat-button [routerLink]="'/guest-host-ratings'">My host ratings</a>
    <a mat-button [routerLink]="'/guest-accommodation-ratings'">My accommodation ratings</a>
    <a mat-raised-button (click)="logout()">Sign out</a>
  </div>
</mat-toolbar>
